// wrapper
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

// remove default styling from lists and anchors
ul,
li,
a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

//styling anchors

a {
  &.button {
    padding: 0 20px;
    background-color: $rustRed;
    color: $offWhite;
    font-family: $mainFont, sans-serif;
    font-size: 2rem;
  }
}
