.blog-main {
  background-color: $black;
  color: $offWhite;
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  h3 {
    color: $dustyOrange;
  }
  // SIDEBAR SECTION
  .blog-sidebar {
    flex-basis: 20%;
    background-color: $darkRed;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    .recent-posts {
      text-align: left;
      ul {
        list-style-type: initial;
        text-align: left;
      }
    }
  }
  // BLOG + COMMENTS SECTION
  .main-wrapper {
    flex-basis: 70%;
    position: relative;
  }
  .article-wrapper {
    border-left: 4px solid $dustyOrange;
    border-bottom: 4px solid $dustyOrange;
    margin-left: 0;
  }
  .comments-wrapper {
    // padding-right: 50px;
  }
}

// styling the comment section
.comments-section {
  display: flex;
  flex-direction: column;
}

// for the individual comment posts
.comments {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  .comments-image {
    flex-basis: 10%;
  }
  .comments-content {
    flex-basis: 90%;
    padding-left: 20px;
    h3,
    p {
      margin: 0 0 10px;
    }
  }
}

// FORMATTING THE FORM
form {
  display: flex;
  flex-direction: column;
  .name-email {
    display: flex;
    justify-content: space-between;
    .form-name,
    .form-email {
      flex-basis: 45%;
      display: flex;
      flex-direction: column;
      label {
        margin-left: 40px;
      }
    }
  }
  label {
    font-family: $mainFont;
    font-size: 2rem;
  }
  input,
  textarea {
    border: none;
    background: transparent;
    margin-bottom: 50px;
    color: $offWhite;
    font-family: $mainFont, sans-serif;
    font-size: 1.5rem;
    // line-height: 1px;
    outline: none;
  }
  input {
    border-bottom: 1px solid $dustyOrange;
  }
  textarea {
    border: 1px solid $dustyOrange;
    width: 100%;
    &::placeholder {
      color: $offWhite;
      opacity: 1;
    }
    &:focus + label,
    &:active + label {
      display: none;
    }
  }
  .comment-text {
    position: relative;
    label {
      position: absolute;
      left: 40px;
      top: 40px;
    }
  }
  button {
    border: none;
    padding: 0 20px;
    background-color: $rustRed;
    color: $offWhite;
    font-family: $secondaryFont, sans-serif;
    font-size: 2rem;
  }
}
