.blog-main {
  background-color: $black;
  color: $offWhite;
  padding: 50px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 2%;
  h3 {
    color: $dustyOrange;
  }
  // SIDEBAR SECTION
  .blog-sidebar {
    flex-basis: 25%;
    background-color: $darkRed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    h2,
    p {
      margin: 0;
    }
    .blog-sidebar-image {
      position: relative;
      width: 115%;
      top: -30px;
      left: -70px;
    }
    .our-mission {
      margin-bottom: 20px;
      a {
        font-family: $mainFont;
        font-size: 2rem;
        line-height: 1.5rem;
        color: $dustyOrange;
      }
    }
    .recent-posts {
      display: flex;
      flex-direction: column;
      ul {
        li {
          text-align: start;
          margin-left: 30px;
          list-style-type: initial;
          color: $rustRed;
          font-size: 1rem;
          span {
            color: $offWhite;
            font-size: 38px;
          }
        }
      }
    }
  }
  // BLOG + COMMENTS SECTION
  .main-wrapper {
    flex-basis: 70%;
    position: relative;
    top: -150px;
  }
  .article-content {
    border-left: 4px solid $dustyOrange;
    border-bottom: 4px solid $dustyOrange;
  }
  .article-content,
  .comments-wrapper {
    padding: 50px;
  }
  .article-image {
    position: relative;
    width: calc(100% - 20px);
    right: -20px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      width: 95%;
      left: -20px;
      border-bottom: 20px solid $dustyOrange;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-left: 20px solid $dustyOrange;
      height: 95%;
      left: -20px;
      bottom: 0;
    }
  }
}

// styling the comment section
.comments-section {
  display: flex;
  flex-direction: column;
}

// for the individual comment posts
.comments {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  .comments-image {
    flex-basis: 10%;
  }
  .comments-content {
    flex-basis: 90%;
    padding-left: 20px;
    h3,
    p {
      margin: 0 0 10px;
    }
  }
}

// FORMATTING THE FORM
form {
  display: flex;
  flex-direction: column;
  .name-email {
    display: flex;
    justify-content: space-between;
    .form-name,
    .form-email {
      flex-basis: 45%;
      display: flex;
      flex-direction: column;
      label {
        margin-left: 40px;
      }
    }
  }
  label {
    font-family: $mainFont;
    font-size: 2rem;
  }
  input,
  textarea {
    border: none;
    background: transparent;
    margin-bottom: 50px;
    color: $offWhite;
    font-family: $mainFont, sans-serif;
    font-size: 1.5rem;
    outline: none;
  }
  input {
    border-bottom: 1px solid $dustyOrange;
  }
  textarea {
    border: 1px solid $dustyOrange;
    width: 100%;
    &::placeholder {
      color: $offWhite;
      opacity: 1;
    }
    &:focus + label,
    &:active + label {
      display: none;
    }
  }
  .comment-text {
    position: relative;
    label {
      position: absolute;
      left: 40px;
      top: 40px;
    }
  }
  button {
    border: none;
    padding: 0 20px;
    background-color: $rustRed;
    color: $offWhite;
    font-family: $secondaryFont, sans-serif;
    font-size: 2rem;
  }
}
