.contact-main {
  background-color: $black;
  color: $offWhite;
  p {
    margin: 0;
  }
}

.contact-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  //   contact info section
  .contact-info-section {
    flex-basis: 20%;
  }
  i {
    padding: 20px 30px 20px 0;
  }
  .contact-email {
    margin-bottom: 20px;
  }
  //   contact form section
  .contact-form-section {
    position: relative;
    top: -100px;
    flex-basis: 55%;
    background-color: $darkRed;
    padding: 50px;
    box-shadow: 20px 20px $dustyOrange;
    input {
      border-bottom: 1px solid $offWhite;
      line-height: 1px;
    }
    textarea {
      border: 1px solid $offWhite;
    }
  }
}
