// FORMATTING THE FORM
form {
    display: flex;
    flex-direction: column;
    .name-email {
      display: flex;
      justify-content: space-between;
      .form-name,
      .form-email {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        label {
          margin-left: 40px;
        }
      }
    }
    label {
      font-family: $mainFont;
      font-size: 2rem;
    }
    input,
    textarea {
      border: none;
      background: transparent;
      margin-bottom: 50px;
      color: $offWhite;
      font-family: $mainFont, sans-serif;
      font-size: 1.5rem;
      outline: none;
    }
    input {
      border-bottom: 1px solid $dustyOrange;
    }
    textarea {
      border: 1px solid $dustyOrange;
      width: 100%;
      &::placeholder {
        color: $offWhite;
        opacity: 1;
      }
      &:focus + label,
      &:active + label {
        display: none;
      }
    }
    .textarea-text {
      position: relative;
      label {
        position: absolute;
        left: 40px;
        top: 40px;
      }
    }
    button {
      border: none;
      padding: 0 20px;
      background-color: $rustRed;
      color: $offWhite;
      font-family: $secondaryFont, sans-serif;
      font-size: 2rem;
    }
  }
  