// home page
.home-page {
  background-image: url(../assets/home-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 305px;
  }
  .header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    span {
      text-align: left;
      display: block;
      font-family: $mainFont, sans-serif;
      font-size: 83.2px;
      margin-top: -90px;
      margin-left: 10px;
      color: $offWhite;
    }
  }
  .header-image {
    position: absolute;
    right: 0;
    bottom: -100px;
  }
}

//blog page
.blog-page {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}
