// SECTION ONE --------------
.section-1 {
  background-color: #111010;
  padding: 150px 0;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .section-1-container {
    width: 50%;
    display: flex;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  p,
  h2 {
    margin: 20px 0 20px 30px;
    color: $offWhite;
  }

  //styling the icons

  i {
    background-color: $rustRed;
    border-radius: 50%;
    color: $offWhite;
    font-size: 2rem;
    padding: 15px;
  }
}

// SECTION TWO --------------
