// SECTION ONE --------------
.section-1 {
  background-color: $black;
  padding: 150px 0;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .section-1-container {
    width: 50%;
    display: flex;
    .fa-stack {
      display: block;
      width: 20%;
    }
    .section-1-content {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    .fa-circle {
      color: $rustRed;
    }
  }
  p,
  h2 {
    margin: 20px 0 20px 30px;
    color: $offWhite;
  }

  //styling the icons
}

// SECTION TWO --------------
.section-2 {
  background-color: $darkRed;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .empty-div,
  .new-locations,
  .plan-ahead {
    flex-basis: 50%;
    padding: 50px 100px;
    h2 {
      margin-top: 0;
    }
  }
  .new-locations {
    text-align: right;
  }

  //   images in section 2
  .section-2-image1,
  .section-2-image2 {
    position: absolute;
  }
  .section-2-image1 {
    top: -50px;
    box-shadow: 20px 20px $dustyOrange;
  }
  .section-2-image2 {
    bottom: -50px;
    right: 0;
    box-shadow: -20px 20px $dustyOrange;
  }
}

// SECTION THREE --------------
.section-3 {
  background-color: $black;
  padding: 100px 0;
}

.host-party,
.events {
  p {
    color: $offWhite;
  }
  h2 {
    color: $dustyOrange;
  }
}

.host-party {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.host-party-image {
  background-image: url(../assets/banner-image.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 0;
}

.events {
  .wrapper {
    display: flex;
    align-items: center;
    .events-info {
      width: 75%;
      padding-left: 50px;
      row-gap: 25px;
      h2,
      p {
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    .events-image {
      width: 25%;
      box-shadow: -20px 20px $dustyOrange;
    }
  }
}

// SECTION FOUR --------------
.section-4 {
  background-color: $darkRed;
  padding: 20px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;
    .slides {
      overflow: hidden;
      width: 100%;
      position: relative;
    }
    .slide {
      width: 100%;
      max-width: 400px;
      position: absolute;
      img {
        object-fit: cover;
      }
    }
    .btn {
      position: absolute;
      width: 50px;
      height: 50px;
      padding: 5px;
      border: none;
      border-radius: 50%;
      z-index: 1;
      background-color: $dustyOrange;
      &:active {
        transform: scale(1.05);
        background-color: orange;
      }
    }
    .btn-next {
      top: 45%;
      right: -20%;
    }
    .btn-prev {
      top: 45%;
      left: -20%;
    }
  }
}
