// 1200px
@media (max-width: 1200px) {
  // HOMEPAGE -----------------

  //    header
  .header-image {
    width: 50%;
  }
  //   section 2 of main
  .section-2 {
    align-items: center;
    .empty-div {
      display: none;
    }
    .section-2-image1,
    .section-2-image2 {
      position: inherit;
      flex-basis: 50%;
      top: initial;
      right: initial;
      bottom: initial;
      box-shadow: none;
    }
    .plan-ahead,
    .new-locations {
      padding: 50px;
    }
  }
}

// 800px
@media (max-width: 800px) {
  // HOMEPAGE -----------------

  //   header
  .header-image {
    display: none;
  }
  //   section 1 of main
  .section-1 {
    padding: 50px 0;
    .wrapper {
      flex-direction: column;
    }
    .section-1-container {
      width: initial;
    }
    .fa-stack {
      margin-top: 30px;
    }
  }
  //   section 2 of main
  .section-2 {
    flex-direction: column;
    .section-2-image1,
    .section-2-image2 {
      padding: 20px 0;
    }
    .plan-ahead,
    .new-locations {
      text-align: center;
    }
    .new-locations {
      order: 1;
    }
  }
  //   section 3 of main
  .section-3 {
    padding: 30px 10px;
    .host-party {
      padding: 0;
      margin-bottom: 40px;
      text-align: left;
    }
    .host-party-image {
      display: none;
    }
    .events {
      .events-info {
        row-gap: 15px;
        text-align: right;
        align-items: flex-end;
      }
    }
  }
  //   section 4 of main
  .section-4 {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
      div {
        margin: 10px;
        flex-basis: calc(50% - 20px);
      }
    }
  }

  // BLOG -----------------
  .blog-main {
    padding: 20px;
    flex-direction: column;
    .blog-sidebar {
      flex-basis: initial;
      order: 1;
      padding: 40px;
      text-align: center;
      ul {
        margin: 0 auto;
      }
      .blog-sidebar-image {
        position: static;
        width: 100%;
      }
    }
    .main-wrapper {
      flex-basis: initial;
      top: -50px;
    }
  }

  // CONTACT -----------------
  .contact-wrapper {
    padding: 10px 40px;
    flex-direction: column;
    align-items: initial;
    .contact-info-section {
      flex-basis: 100%;
      text-align: center;
    }
    .contact-form-section {
      position: static;
      margin: 30px 0;
      flex-basis: 100%;
    }
  }
}

// 600px
@media (max-width: 600px) {
  // TYPOGRAPHY --------------
  p {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  // NAVIGATION BAR --------------
  .hamburger-menu {
    display: initial;
  }
  .desktop-nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $black;
    bottom: 0px;
    left: -60%;
    z-index: 1;
    align-items: flex-start;
    transition: left 0.6s cubic-bezier(0.24, -1.05, 0.51, 1.77);
    .nav-title {
      order: -1;
    }
    &.reveal-menu {
      // test start
      left: 0px;
      // test end
    }
  }

  // HOMEPAGE -------------

  //   header
  .home-page {
    min-height: 60vh;
    .wrapper {
      row-gap: 70px;
    }
    h1 {
      font-size: 130px;
    }
    .header-title {
      margin-bottom: 0;
      span {
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
  //   main
  .section-1 {
    padding: 25px 0;
  }
  .section-4 {
    padding: 10px 0;
  }

  // BLOG -------------
  .blog-main {
    .main-wrapper {
      position: static;
      .article-content,
      .comments-wrapper {
        padding: 10px;
      }
    }
  }
  .blog-page {
    row-gap: 70px;
    .blog-title {
      margin-left: 70px;
    }
  }
  // FORM -------------
  form {
    .name-email {
      flex-direction: column;
    }
  }

  // CONTACT -------------
  .contact-page {
    row-gap: 70px;
    .contact-title {
      margin-left: 70px;
    }
  }
}

// 450px
@media (max-width: 450px) {
  // HOMEPAGE -------------
  .section-1 {
    .section-1-container {
      .fa-stack {
        width: 30%;
      }
      .section-1-content {
        width: 75%;
      }
    }
  }
  .section-3 {
    padding: 10px;
    .events {
      .wrapper {
        .events-info {
          width: initial;
          padding-left: 0;
        }
        .events-image {
          display: none;
        }
      }
    }
  }

  .section-4 {
    .wrapper {
      flex-direction: column;
    }
  }

  // BLOG -------------
  .main-wrapper {
    .comments-image {
      display: none;
    }
  }
  .blog-main {
    .blog-sidebar {
      margin: 10px 0;
      padding: 20px;
    }
  }

  .comments-wrapper,
  .contact-form-section {
    form {
      input,
      textarea {
        font-size: 1rem;
      }
      label {
        font-size: 1.5rem;
      }
      .form-name,
      .form-email {
        label {
          margin-left: 0px;
        }
      }
    }
  }

  // CONTACT -------------
}
