@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/base";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/form";
@import "./partials/home-main";
@import "./partials/blog-main";
@import "./partials/contact-main";
