html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site colours */
html {
  font-size: 125%;
}

h1 {
  font-family: "Tulpen One", sans-serif;
  font-size: 261.4px;
  letter-spacing: 2.4px;
  color: #ff8327;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Chathura", sans-serif;
  font-size: 68px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2.2px;
}

p {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}

li {
  font-family: "Chathura", sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a.button {
  padding: 0 20px;
  background-color: #bf2603;
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul a {
  padding: 20px 35px;
  color: #ffffff;
}
nav ul a:hover {
  color: #ff8327;
  font-weight: bold;
}
nav ul .nav-title {
  margin: auto 35px;
  font-family: "Tulpen One", sans-serif;
  color: #ffffff;
}

.home-page {
  background-image: url(../assets/home-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-page .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 305px;
}
.home-page .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}
.home-page .header-title span {
  text-align: left;
  display: block;
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  margin-top: -90px;
  margin-left: 10px;
  color: #ffffff;
}
.home-page .header-image {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.blog-page {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20vh;
}
.blog-page .blog-title {
  margin-left: 200px;
}
.blog-page h1 {
  font-family: "Chathura", sans-serif;
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2.2px;
}

footer {
  overflow: hidden;
  background-color: #2c2c2c;
  color: #ffffff;
  text-align: center;
}
footer p {
  margin: 0;
}

.section-1 {
  background-color: #111010;
  padding: 150px 0;
}
.section-1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-1 .section-1-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-1 .section-1-container .fa-stack {
  display: block;
  width: 20%;
}
.section-1 .section-1-container .section-1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
.section-1 .section-1-container .fa-circle {
  color: #bf2603;
}
.section-1 p,
.section-1 h2 {
  margin: 20px 0 20px 30px;
  color: #ffffff;
}

.section-2 {
  background-color: #220303;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.section-2 .empty-div,
.section-2 .new-locations,
.section-2 .plan-ahead {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px 100px;
}
.section-2 .empty-div h2,
.section-2 .new-locations h2,
.section-2 .plan-ahead h2 {
  margin-top: 0;
}
.section-2 .new-locations {
  text-align: right;
}
.section-2 .section-2-image1,
.section-2 .section-2-image2 {
  position: absolute;
}
.section-2 .section-2-image1 {
  top: -50px;
  -webkit-box-shadow: 20px 20px #ff8327;
          box-shadow: 20px 20px #ff8327;
}
.section-2 .section-2-image2 {
  bottom: -50px;
  right: 0;
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
}

.section-3 {
  background-color: #111010;
  padding: 100px 0;
}

.host-party p,
.events p {
  color: #ffffff;
}
.host-party h2,
.events h2 {
  color: #ff8327;
}

.host-party {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.host-party-image {
  background-image: url(../assets/banner-image.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 0;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events .wrapper .events-info {
  width: 75%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.events .wrapper .events-info h2,
.events .wrapper .events-info p {
  margin: 0;
}
.events .wrapper .events-image {
  width: 25%;
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
}

.section-4 {
  background-color: #220303;
  padding: 100px 0;
}
.section-4 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main {
  background-color: #111010;
  color: #ffffff;
  padding: 50px 0;
}
.blog-main h3 {
  color: #ff8327;
}
.blog-main .wrapper {
  width: 70%;
  margin: 0 0 0 30%;
  padding: 50px 100px;
}
.blog-main .article-wrapper {
  border: 4px solid #ff8327;
  position: relative;
}
.blog-main .article-image {
  display: inline-block;
  width: 100%;
}

.comments-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}
.comments .comments-image {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.comments .comments-content {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 20px;
}
.comments .comments-content h3,
.comments .comments-content p {
  margin: 0 0 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .name-email .form-name,
form .name-email .form-email {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .name-email .form-name label,
form .name-email .form-email label {
  margin-left: 40px;
}
form label {
  font-family: "Chathura";
  font-size: 2rem;
}
form input,
form textarea {
  border: none;
  background: transparent;
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 1.5rem;
  outline: none;
}
form input {
  border-bottom: 1px solid #ff8327;
}
form textarea {
  border: 1px solid #ff8327;
  width: 100%;
}
form textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
form textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
form textarea:focus + label, form textarea:active + label {
  display: none;
}
form .comment-text {
  position: relative;
}
form .comment-text label {
  position: absolute;
  left: 40px;
  top: 40px;
}
form button {
  border: none;
  padding: 0 20px;
  background-color: #bf2603;
  color: #ffffff;
  font-family: "Tulpen One", sans-serif;
  font-size: 2rem;
}

.blog-sidebar {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-sidebar .recent-posts {
  text-align: left;
}
.blog-sidebar .recent-posts ul {
  list-style-type: initial;
  text-align: left;
}